* {
    box-sizing: border-box;
}

body,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #17304f;
    padding: 15px 0px;
}

.heading h1 {
    font-family: "Cinzel", serif;
    color: #c0c0c0;
    font-size: 42px;
    font-weight: 500;
}

.heading-icon {
    text-align: center;
    margin-top: 10px;

}

.heading-icon ul li {
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    padding: 0px 10px;
}

.heading-icon i {
    color: #c0c0c0;
    font-size: 21px;
}


/* //intro-section// */

.intro-section {
    margin-top: 150px;

    text-align: center;
}

.intro-section .left-section h2 {
    font-size: 52px;
    font-weight: 400;
    font-family: "Abel", sans-serif;
    font-style: normal;
    color: black;
    line-height: 80px;
}


.left-section .purple {
    color: rgb(24, 99, 75);
}

.buttons .btn {
    border: 1px solid black;
    margin: 15px 7px;
    margin-top: 30px;
    padding: 12px 13px;
    font-weight: 500;
    color: #453c3c;

}

.buttons .btn:hover {
    background-color: #0b4e51;
    color: antiquewhite;
    /* margin: 13px 6px; */
    /* padding: 11px 12px; */
    transition: 0.3s;

}

.right-section img {
    position: relative;
    vertical-align: middle;
    width: 100%;
    margin-top: 10px;
    height: 100%;
}

/* project */
.thin-line {
    margin: 145px 0px 140px 0px;
    background: #17264f;
}

.thin-line .box {
    text-align: center;
}

.thin-line h4 {
    color: #c0c0c0;
    font-family: "Cinzel";
    font-size: 40px;
    padding: 20px;
}

/* .project-section .gallery{
    transition: 0.25s ease;
    box-shadow: rgb(125 109 109) 0px 7px 29px 0px;
} */



.project-section img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid grey;

}


.project-section h5 {
    font-size: 23px;
    margin: 15px 0px;
}


.project-section p {
    font-size: 19px;
    color: rgb(6, 0, 0);
    font-weight: 400;
    margin-bottom: 35px;
}

.project-section .card-body {
    border: 1px solid rgb(136, 133, 133);
    transition: 0.25s ease;
    padding: 7px;
    margin-bottom: 20px;
    box-shadow: rgb(160 170 168) 0px 7px 35px 0px;
}
/* .project-section .card-body:hover{
    margin-top: 20px;
} */

.project-section .card-text a {
    text-decoration: none;
    border: 1px solid black;
    padding: 8px 15px;
    margin: 20px 0px;
    color: black;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.project-section .card-text a:hover {
    background-color: #0b4e51;
    transition: 0.3sec;
    color: white;
}

.project-section .card-text .btn-pro {
    margin-right: 10px;
    margin-bottom: 30px;
}


.project-section .card-text {
    margin-left: 13px;
    margin-bottom: 45px;
}

/* About */

.about-head {
    margin: 145px 0px 100px 0px;
    background: #17264f;
}

.about-head .box {
    text-align: center;
}

.about-head h4 {
    color: #c0c0c0;
    font-family: "Cinzel";
    font-size: 40px;
    padding: 20px;
}

.about-area img {
    height: 90%;
    width: 90%;
    vertical-align: middle;

}

.about-text h2 {
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    line-height: 55px;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;

}

.about-text p {
    padding: 10px 0px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

/* Skills */
.skill-heading {
    margin-top: 100px;
    margin-bottom: 150px;
    background: #17264f;
}

.skill-heading .box {
    text-align: center;
}

.skill-heading h4 {
    color: #c0c0c0;
    font-family: "Cinzel";
    font-size: 40px;
    padding: 20px;
}

/* .skills-feature .box1 {
    padding: 20px;
} */
.skills-feature li {
    list-style: none;

}

.skills-feature .icon {
    background: #b1b493;
    height: 80px;
    width: 80px;
    margin-bottom: -42px;
    margin-left: 20px;
    border-radius: 50%;
    position: relative;
    margin-top: -60px;
}

/* .skills-feature .icon:hover{
    margin-left: 70px;
} */

.skills-feature i {
    font-size: 50px;
    color: aliceblue;
}

.skills-feature .text-body {
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 19px 10px rgba(0, 0, 0, 0.15);
    padding: 25px;
    margin-bottom: 100px;
}

.skills-feature .text-body h5 {
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-top: 35px;
    color: rgb(37, 40, 37);
    margin-bottom: 15px;
}

.skills-feature .text-body p {
    font-size: 18px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50PX;
    font-weight: 500;
    color: #999999;
    text-align: left;
}

/* information*/
.information-box {
    margin-top: 30px;
}

.information-box .boxes {
    text-align: center;
    padding: 20px;
}

.information-box .ff {
    border-top: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
}

.information-box i {
    text-align: center;
    font-size: 28px;
    margin-top: 30px;
    color: #04364A;
}

.information-box .boxes h6 {
    margin: 25px 0px;
    color: #02202c;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}


/* footer */
.footer-area {
    background-color: #17264f;
}

.footer-area .box {
    padding: 20px;
    text-align: center;
}

.footer-area h1 {
    font-family: "Cinzel";
    color: wheat;
}

.footer-area .center-1 {
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.footer-area .bbv {
    border-left: 1px solid #837474;
    border-right: 1px solid #837474;
}

.footer-area li {
    list-style: none;
    display: inline-block;
}

.footer-area li a {
    color: grey;
    text-align: center;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 18px;

}

.footer-area h3 {
    color: grey;
    font-size: 18px;
    margin: 10px 0px;
}

/* Responsive */
@media (max-width:1200px) {}